body {
    background-color:rgb(110, 231, 185) ;
}

.container-div{
    background-color: rgb(248, 142, 225);
    font-size: px;
    height: 50%;
    width: 32%;
}

.container-footer {
    background-color:  rgb(107, 243, 214);
    display: flex;
    justify-content:center;
    align-items: center;
}

.h1-footer {
    background-color:rgb(245, 149, 216) ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.content-gambar {
    display: flex;
    align-items: left;
    justify-content: left;
}

.img-gambar {
    height: 250px;
    width: 250px;
}

.paragraf1 {
    font-size: 23px;
}

